* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: rgba(120, 35, 201);
}

.back {
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: blueviolet;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.back a {
    text-decoration: none;
    color: #fff;
}
.back a:hover {
    transition: 0.5s;
    color: lightgray;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.form {
    display: grid;
    padding: 2.5em;

    width: 20%;
    height: auto;


    background-color: blueviolet;
    border-radius: 20px;

    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.form input {
    margin-bottom: 32px;
    border-radius: 10px;
    padding: 5px;

    border: none;
    outline: none;
}

.form button {
    border: none;
    cursor: pointer;

    padding: 8px;
    border-radius: 10px;
}

.form button:hover {
    background-color: #48DB53;
    color: #fff;
    transition: 0.3s;
}
